$background: #F5F5F5;
$background-secondary: #eaebf2;
$primary-light: #48CFCB;
$primary: #229799;
$accent: #424242;

$font-primary: #151515;
$font-secondary: #828282;
$font-muted: #696969;
$link-color: #229799;

$success: #4caf50;
$warning: #ff9800;
$error: #f44336;
$info: #2196f3;
